body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: #00b7ff;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 40px;
    height: 80px;
    width: 400px;
}

form div {
    display: flex;
    flex-direction: column;
}

button,
input[type="submit"] {
    cursor: pointer;
}

.errors {
    color: red;
}

.new-msg-sec {
    position: absolute;
    top: 50px;
    left: 50px;
}

.message {
    padding: 30px;
    border-radius: 20px;
    border: solid 1px black;
    margin-bottom: 20px;
    background-color: #e5e2e2;
}

.message:hover {
    background-color: #fff;
    cursor: text;
}

.join-club-sec {
    margin-top: 80px;
}
